/******************************************** 

Home Section CSS

 ********************************************/

section#home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
}

.home-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
}

.home-background {
  background-image: url("/assets/pexels-francesco-ungaro-1602842.jpg");

  /* background-image: url("https://images8.alphacoders.com/113/1130907.jpg"); */
  background-position: center;
  width: 100%;
  /* z-index: -1; */
  left: 0%;

  position: absolute;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.home-container {
  /* width: 40%; */
  /* position: absolute;

  width: 500px;

  top: 35%;
  left: 25%;
  text-align: left;

  transform: translate(-50%, -50%);
  transition: all 0.3s;*/
  position: relative;
  top: 10%;
  left: 7%;
  color: var(--contrast-white);
  font-family: "Darker Grotesque";
  padding: 10% 5%;

  /* height: 100%; */
  width: 40%;

  /* background: var(--light-red); */
}
.home-container::after {
  content: "";
  background: linear-gradient(0deg, var(--light-red), var(--contrast-white));
  position: absolute;
  width: 8px;
  height: 22%;
  top: 17%;
  left: 40px;
}

.home-header {
  font-weight: bolder;
  font-size: 2rem;
  line-height: 1;
}

.home-information {
  font-weight: lighter;
}

.home-information p {
  font-size: var(--font-size-medium-two);
  margin-bottom: 2.5vmin;
  color: inherit;
  /* color: black; */
}

.try-now {
  letter-spacing: var(--font-size-small-one);
  text-transform: uppercase;

  padding: 16px 40px;
  background-color: var(--alternate);
  border-radius: none;
  border: 1.5px solid var(--white);
  cursor: pointer;
}

.try-now a {
  text-decoration: none;
  font-family: "Open sans";
  color: var(--contrast-white);
  font-weight: lighter;

  width: 100%;
  height: 100%;
  padding: 0.2rem 0.85rem 0.25rem;
  position: relative;
}

.try-now a:hover {
  background: linear-gradient(90deg, var(--light-white), var(--pink));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background-clip: text;
}
.try-now:hover {
  border: 1.5px solid #fff;
  border-radius: 0;
  transform: scale(1.01);
}
