section#info {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: white;
}

/* ------------- Containers ------ */
.info-container {
  /* display: grid;
  grid-template-columns: 400px 1fr;
  grid-gap: 6rem;
  height: 500px; */

  /* border-right: 1px solid blue; */
  margin: 0 auto;
  padding: 40px;
  flex: 1;
  color: var(--black);
  z-index: 3;
  /* box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1); */
  /* background-color: red; */
}

.info-items-container {
  /* border-right: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px;
  flex: 1;
}

.info-title {
  font-family: "Darker Grotesque";
  color: var(--black);
  width: 100%;
  font-size: var(--font-size-medium-three);
  font-weight: lighter;
  margin-bottom: -18px;
}

.info-item {
  border-bottom: 1px solid var(--border-line);
  margin: 0.5rem 0;
  width: 100%;
  position: relative;
}

/* ------------- Containers End ------ */

.item-title {
  cursor: pointer;
  font-weight: 400;
  font-size: 1.2rem;
  color: var(--pink-red);
  /* margin: 1rem 0rem;
  padding: 5px 0; */
  position: relative;
  /* display: block; */
  width: 100%;
}

.answer {
  color: var(--black);
  position: relative;
  font-family: "Darker Grotesque";
  font-size: var(--font-size-medium-two);
  font-weight: lighter;
}

.answer li {
  margin-left: 1rem;
}

/* ------------------------ Advanced Animations --------------------- */
.transition,
p.answer,
div.answer:before,
p.answer,
div.answer,
:after {
  transition: all 0.45s ease-in-out;
}

/* .flipIn,
h3,
ul li {
  animation: flipdown 0.5s ease both;
} */

div {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 4px;
  padding-top: 14px;
}

div i {
  position: absolute;
  transform: translate(-16px, 0);
  margin-top: 16px;
  right: 0;
}

div i:before,
div i:after {
  content: "";
  position: absolute;
  background-color: var(--pink-red);
  width: 3px;
  height: 9px;
}

div i:before {
  transform: translate(-2px, 0) rotate(45deg);
  transition: all 0.3s ease-in;
}

div i:after {
  transform: translate(2px, 0) rotate(-45deg);
  transition: all 0.3s ease-in;
}

div input[type="checkbox"] {
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
}

div input[type="checkbox"]:checked ~ .answer {
  margin-top: 0;
  max-height: 0;
  opacity: 0;
  transform: translate(0, -40%);
  transition: all 0.35s ease-in;
}

div input[type="checkbox"]:checked ~ i:before {
  transform: translate(2px, 0) rotate(45deg);
  transition: all 0.3s ease-in;
}

div input[type="checkbox"]:checked ~ i:after {
  transform: translate(-2px, 0) rotate(-45deg);
  transition: all 0.3s ease-in;
}

@keyframes flipdown {
  0% {
    opacity: 0;
    transform-origin: top center;
    transform: rotateX(-90deg);
  }

  5% {
    opacity: 1;
  }

  80% {
    transform: rotateX(8deg);
  }

  83% {
    transform: rotateX(6deg);
  }

  92% {
    transform: rotateX(-3deg);
  }

  100% {
    transform-origin: top center;
    transform: rotateX(0deg);
  }
}
