.responsive-wrapper {
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* ----------------- Navigation  -----*/

.navigation-max {
  display: flex;
  align-items: center;
  position: sticky;

  height: var(--navigation-max-height);
  top: calc(var(--navigation-height-difference) * -1);

  background-color: var(--alternate);
  box-shadow: var(--shadow-def-normal);
  z-index: 4;
}

.navigation-min {
  height: var(--navigation-min-height);
  position: sticky;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
}

.navigation a {
  font-size: 1.125rem;
  margin-left: 1.75rem;
  position: relative;
  font-weight: 500;
  display: inline-block;
  font-size: 1.125rem;
  color: white;
  text-decoration: none;
}

/* ----------- Underline ------ */

.navigation a:hover:after {
  transform: scalex(1);
}

.navigation a:after {
  transition: 0.35s ease;
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  background-color: currentcolor;
  transform: scalex(0);
  position: absolute;
  bottom: -2px;
  left: 0;
}
